.input {
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 16px;

  &.primary {
    border: solid 2px #000;
    box-shadow: -3px 3px 0px 0px #000000;
    background-color: #fff;
  }

  &.secondary {
    border: solid 2px #fff;
    box-shadow: -3px 3px 0px 0px #fff;
    background-color: #000;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    background-color: #e4e3ea;
  }

  &.error {
    border: solid 2px #a9150b;
  }

  &.success {
    border: solid 2px #067d68;
  }
}

.label {
  font-size: 14px;
  color: #080808;
  padding-bottom: 6px;

  .secondary {
    color: #fff;
  }

  &.disabled {
    color: #e4e3ea;
  }
}

.message {
  font-size: 14px;
  color: #a9150b;
  padding-top: 4px;
}

.text {
  margin: 0px;
  color: #080808;

  &.disabled {
    color: #e4e3ea;
  }

  &.error {
    color: #a9150b;
  }
}
