.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &.primary {
  }

  &.secondary {
    .slider {
      background-color: #000;
      border: 3px solid white;
      &:before {
        border: 3px solid white;
        box-shadow: -3px 3px 0px 0px #fff;
        background-color: #000;
      }
    }

    input:checked + .slider {
      background-color: #fff;
    }
  }

  &.small {
    width: 50px;
    height: 20px;

    .slider {
      &:before {
        width: 20px;
        height: 20px;
      }
    }

    .switchInput:checked + .slider:before {
      transform: translateX(35px);
    }
  }

  &.medium {
    width: 60px;
    height: 24px;

    .switchInput:checked + .slider:before {
      transform: translateX(45px);
    }
  }

  &.large {
    width: 112px;
    height: 34px;

    .slider {
      &:before {
        width: 46px;
        height: 46px;
      }
    }

    .switchInput:checked + .slider:before {
      transform: translateX(95px);
    }
  }

  .switchInput {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 34px;
    border: 3px solid black;

    &:before {
      border: 3px solid black;
      box-shadow: -3px 3px 0px 0px #000;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: -10%;
      bottom: -33%;
      background-color: white;
      transition: 0.5s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #000;
  }
}
